h1{
	background-color: black;
	color: white;
	text-align: center;
	height: 55px;
}

h2{
	text-align: center;
	padding: 35px;
	font-weight: bold;

}

img{
	height: 235px;
}
.card{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;

	/*position: relative;*/
}

.container-fluid{
	background-color: rgb(26, 68, 146);
    width:100%;
    
	/*width: auto;*/
	padding: 2px;
}

.container{
	background-color: white;
	float: left;
	width: auto;
	height: auto;
	/*margin-top: 50px;*/
}
.sidebar{
	margin: 0px;
	background-color: black;
	color: white;
}

nav .container-fluid{
	margin: 0px;
	background-color: #212529 !important;
}

footer{
	background: rgb(60, 108, 148);
	height: auto;
	width: 100%;
	padding: 1px;
}
/*content*/
.footer{
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer p{
    margin:1px;
    font-size: 2px;
}
/*social -media*/
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5%;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 2px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: rgb(2, 16, 31);
}
/* copyright*/
.footer-copyright{
    background: #0f3cd1;
    width: 100vw;
    padding: 2px;
}
.footer-copyright p{
    font-size: 14px;
    word-spacing: 2px;
    align-items: center;
    justify-content: center;
}

